.navbar{
    display: flex;
    justify-content: space-around;
    padding: 2px;
    box-shadow: 0 1px 3px -2px black;
    background-color: rgb(114, 110, 110);
}
.nav-logo{
    display: flex;
    align-items: center;
    gap: 12px;
}
.nav-logo p{
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-weight: 300;
}
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 43px;
    color: rgb(1, 1, 1);
    font-size: 20px;
    font-weight: 300;
}
.nav-menu li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
    cursor: pointer;
}
.nav-menu hr{
    border: none;
    width: 80%;
    height: 4px;
    border-radius: 10px;
    background:rgb(255, 187, 0);
}
.nav-login-cart{
    display: flex;
    align-items: center;
    gap: 45px;
}
.nav-login-cart button{
    width: 130px;
    height: 40px;
    outline: none;
    border: 1px solid gray;
    border-radius: 70px;
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    background: rgb(255, 255, 255);
}
.nav-login-cart button :active{
    background: rgb(33, 32, 32);
}
.nav-cart-count{
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 33px;
    margin-left: -55px;
    border-radius: 11px;
    background: red;
    color: white;
}